* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  max-width: 1440px;
}
.header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(110deg, rgba(40, 99, 168, 0.5), rgba(216, 30, 64, 0.2)), url('../../img/header/femida-1440.jpg') no-repeat;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  height: 640px;
  background-size: 100% 100%;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  height: 116px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 80px;
}
.header_imgLogo {
  width: 210px;
  height: 76px;
  background: url('../../img/logo/logo-1.png');
}
.header_imgMenu {
  display: none;
}
.header_menu {
  list-style: none;
  text-align: right;
  flex: 0 0 60%;
}
.header_a {
  white-space: nowrap;
  font-family: GothamPro-Bold, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: rgba(250, 250, 250, 0.7);
  font-weight: bold;
  margin-left: 50px;
  text-decoration: none;
}
.header_centers {
  border-bottom: white solid 1px;
  color: white;
}
.header_text {
  text-align: left;
  padding-left: 108px;
}
.header_h1 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  color: white;
  width: 456px;
  margin-top: 112px;
  margin-bottom: 16px;
}
.header_p {
  font-family: Gotham Pro, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.71;
  opacity: 1;
  letter-spacing: normal;
  width: 400px;
  height: 72px;
  margin-bottom: 48px;
}
.header_link {
  width: 224px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: white solid 1px;
  color: white;
}
.dropDown {
  display: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
  background-color: #262626;
  padding: 0 80px;
}
.footer_imgLogo {
  height: 78px;
}
.footer_menu {
  flex: 0 0 60%;
  text-align: right;
}
.footer_a {
  white-space: nowrap;
  font-family: GothamPro-Bold, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  margin-left: 50px;
  text-decoration: none;
}
.footer_centers {
  white-space: normal;
}
.map {
  display: flex;
  justify-content: space-between;
  margin: 48px 80px;
  min-height: 524px;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
}
.map_text {
  display: flex;
  flex-direction: column;
  margin-left: 52px;
}
.map_h2 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.14;
  color: #333333;
  max-width: 570px;
  margin-top: 48px;
  margin-bottom: 16px;
}
.map_p {
  max-width: 576px;
  margin-bottom: 24px;
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: normal;
}
.map_mediaImg {
  display: none;
}
.map_link {
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: 600;
  margin-bottom: 50px;
}
.map_russia {
  display: flex;
  align-items: flex-end;
  max-width: 586px;
  width: 100%;
}
.libra {
  display: flex;
  justify-content: center;
  margin: 0 60px;
  flex-wrap: wrap;
  max-width: 1440px;
  min-width: 300px;
}
.libra_block {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  max-width: 640px;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  min-height: 164px;
  margin: 0 20px 40px;
}
.libra_img {
  margin-left: 32px;
  max-height: 114px;
  background: linear-gradient(110deg, rgba(40, 99, 168, 0.6), rgba(216, 30, 64, 0.6));
}
.libra_text {
  display: flex;
  flex-direction: column;
  margin: 25px 48px 25px 60px;
}
.libra_h4 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #004f94;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.libra_p {
  max-width: 366px;
  min-height: 80px;
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: normal;
}
.workers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  background: linear-gradient(103deg, rgba(40, 99, 168, 0.6), rgba(216, 30, 64, 0.3)), url('../../img/emblemOfRussia/emblemOfRussia.png') repeat;
}
.workers_h2 {
  margin-top: 64px;
  margin-bottom: 16px;
  font-family: GothamPro-Bold, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.14;
  color: white;
}
.workers_p {
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: white;
  font-weight: normal;
  max-width: 588px;
  text-align: center;
  margin-bottom: 32px;
}
.workers_block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.workers_man {
  display: flex;
  flex-direction: column;
  max-width: 252px;
  margin: 0 16px 48px;
  background-color: white;
}
.worker_h4 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 16px;
  line-height: 1.31;
  color: #000000;
  font-weight: bold;
  margin: 16px 16px 8px;
}
.worker_p {
  margin: 0 16px 26px;
  font-family: Gotham Pro, sans-serif;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  line-height: 1.15;
  color: #000000;
}
.workers_link {
  color: white;
  font-family: Gotham Pro, sans-serif;
  font-size: 20px;
  margin-bottom: 48px;
  text-decoration: none;
  border-bottom: white solid 1px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service_headBlock {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 32px;
  margin: 48px 80px 8px;
}
.service_h2 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.14;
  color: #333333;
  margin-bottom: 12px;
}
.service_pt {
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: normal;
  max-height: 48px;
  overflow: hidden;
}
.service_block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
}
.service_item {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  margin: 16px 20px;
  padding: 24px 24px;
}
.service_h4 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #004f94;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.service_p {
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: normal;
}
.service_link {
  margin-top: 24px;
  width: 224px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: #07457a solid 1px;
  color: #07457a;
}
.boxFirst {
  width: 100px;
  height: 100px;
  background: linear-gradient(114deg, #2863a8, rgba(216, 30, 64, 0.5)), #2863a8;
  position: relative;
  z-index: -1;
  top: -140px;
  right: -30px;
}
.boxSecond {
  width: 100px;
  height: 100px;
  background: linear-gradient(114deg, #2863a8, rgba(216, 30, 64, 0.5)), #2863a8;
  position: relative;
  z-index: -1;
  top: -171px;
  right: -1310px;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -20px 80px 0;
}
.posts_headBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 32px;
}
.posts_h2 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.14;
  color: #333333;
}
.posts_headMenu {
  flex: 0 0 80%;
  text-align: right;
  padding-right: 30px;
}
.posts_a {
  white-space: nowrap;
  margin-left: 30px;
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: normal;
  text-decoration: none;
}
.posts_centers {
  font-weight: bold;
}
.posts_block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.posts_blockFirst {
  display: flex;
  flex-direction: column;
  flex: 1 1 55%;
  padding-right: 24px;
}
.posts_itemF {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(40, 99, 168, 0.9), rgba(40, 99, 168, 0.9)), url('../../img/gavel/gavel.jpg') no-repeat;
  padding: 24px;
  margin-bottom: 24px;
  background-size: 100% 100%;
  color: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
}
.posts_aF {
  margin-right: 18px;
  text-decoration: none;
  font-family: Gotham Pro, sans-serif;
  font-size: 14px;
  color: white;
  line-height: normal;
  opacity: 0.8;
  letter-spacing: 1px;
}
.posts_h4F {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 16px;
}
.posts_data {
  font-weight: 500;
  margin-bottom: 12px;
  font-family: Gotham Pro, sans-serif;
  font-size: 14px;
  color: white;
  line-height: normal;
  opacity: 0.9;
  letter-spacing: 1px;
}
.posts_pF {
  max-height: 50px;
  overflow: hidden;
  font-family: Gotham Pro, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.86;
  opacity: 1;
  letter-spacing: normal;
}
.posts_itemLink {
  margin-top: 24px;
  width: 224px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: white solid 1px;
  color: white;
}
.posts_blockSecond {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  flex-wrap: wrap;
  max-width: 468px;
}
.posts_itemS {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
}
.posts_aS {
  margin-right: 16px;
  text-decoration: none;
  font-family: Gotham Pro, sans-serif;
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 0.9px;
  color: #666666;
}
.posts_h4S {
  margin-top: 13px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #1d212c;
  font-family: GothamPro-Bold, sans-serif;
  line-height: 1.44;
}
.posts_pS {
  font-family: Gotham Pro, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #333333;
  font-weight: normal;
}
.posts_link {
  margin-top: 48px;
  width: 224px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: #07457a solid 1px;
  color: #07457a;
}
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px 80px;
}
.partners_headBlock {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 32px;
  margin-bottom: 16px;
}
.partners_h2 {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.14;
  color: #333333;
}
.partners_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 40px 36px;
}
.partners_left {
  flex: 0 1 4%;
  justify-content: flex-start;
  width: 100%;
}
.partners_logotypes {
  display: flex;
  flex: 0 0 90%;
  max-height: 152px;
}
.partners_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  width: 100%;
}
.partners_logoImg {
  width: 100%;
  margin: 0 0;
}
.partners_right {
  flex: 0 1 4%;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 1000px) and (min-width: 750px) {
  .header {
    height: 550px;
    background: linear-gradient(110deg, rgba(40, 99, 168, 0.5), rgba(216, 30, 64, 0.2)), url('../../img/header/femida-768.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .header_nav {
    height: 124px;
    padding: 0 24px;
  }
  .header_imgLogo {
    width: 210px;
    height: 76px;
    background: url('../../img/logo/logo-2.png');
  }
  .header_imgMenu {
    display: block;
  }
  .header_menu {
    display: none;
  }
  .header_text {
    padding-left: 24px;
  }
  .header_h1 {
    margin-top: 76px;
    margin-bottom: 8px;
  }
  .header_p {
    margin-bottom: 24px;
  }
  .dropDown {
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(121deg, #2863a8, rgba(216, 30, 64, 0.3)), #2863a8;
    border: solid 1px #979797;
    opacity: 0.97;
    height: 1024px;
  }
  .dropDown_img {
    margin: 48px 28px 212px;
    align-self: flex-end;
    background: url('../../img/cross/cross.png') no-repeat;
    height: 33px;
    width: 33px;
  }
  .dropDown_a {
    font-family: Gotham Pro, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-bottom: 48px;
  }
  .map {
    flex-direction: column;
    margin: 48px 24px 32px;
  }
  .map_text {
    margin-left: 32px;
    margin-right: 40px;
  }
  .map_p {
    margin-bottom: 40px;
  }
  .map_mediaImg {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
  }
  .map_link {
    text-align: center;
    margin-bottom: 40px;
  }
  .map_russia {
    display: none;
  }
  .libra {
    margin: 0 12px;
  }
  .libra_block {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    margin: 0 12px 24px;
  }
  .libra_img {
    margin-left: 0;
    margin-top: 32px;
  }
  .libra_text {
    text-align: center;
    margin: 32px 28px 36px;
  }
  .workers {
    margin-top: 24px;
  }
  .workers_h2 {
    margin-top: 48px;
    margin-bottom: 12px;
  }
  .workers_block .workers_man {
    margin-bottom: 32px;
  }
  .workers_link {
    margin-top: 8px;
  }
  .service_headBlock {
    margin: 48px 24px 16px;
  }
  .service_pt {
    max-height: 80px;
  }
  .service_block {
    flex-direction: column;
    margin: 0 0;
  }
  .service_item {
    margin: 8px 24px;
  }
  .service_link {
    margin-top: 40px;
  }
  .boxFirst {
    top: -150px;
    right: 26px;
  }
  .posts {
    margin: 0 24px;
  }
  .posts_headMenu {
    white-space: nowrap;
    padding-right: 0;
    flex: 0 0 60%;
  }
  .posts_block {
    flex-direction: column;
    margin: 24px -24px 0;
  }
  .posts_blockFirst {
    margin: 0 24px;
    padding-right: 0;
  }
  .posts_h4F {
    margin-bottom: 10px;
  }
  .posts_blockSecond {
    flex-direction: row;
    margin: 0 12px;
    max-width: 100%;
  }
  .posts_itemS {
    flex: 1 1 35%;
    margin: 0 12px 24px;
    padding: 32px 24px;
  }
  .posts_h4S {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .posts_link {
    margin-top: 16px;
  }
  .partners {
    margin: 0 24px 56px;
  }
  .partners_block {
    padding: 32px 0;
  }
  .partners_logotypes {
    flex: 0 0 100%;
  }
  .partners_logo {
    margin: 0 20px;
    min-height: 72px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0;
  }
  .footer_imgLogo {
    padding-left: 24px;
  }
  .footer_menu {
    text-align: left;
    margin-top: 32px;
  }
  .footer_a {
    margin: 0 25px;
  }
}
@media screen and (max-width: 749px) {
  .header {
    height: 500px;
    background: linear-gradient(110deg, rgba(40, 99, 168, 0.5), rgba(216, 30, 64, 0.2)), url('../../img/header/femida-375.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .header_nav {
    height: 84px;
    padding: 0 16px;
  }
  .header_imgLogo {
    width: 140px;
    height: 52px;
    background: url('../../img/logo/logo-2.png');
    background-size: 100% 100%;
  }
  .header_imgMenu {
    display: block;
  }
  .header_menu {
    display: none;
  }
  .header_text {
    padding-left: 16px;
  }
  .header_h1 {
    font-size: 35px;
    width: 320px;
    height: 82px;
    line-height: 1.14;
    margin-top: 104px;
    margin-bottom: 8px;
  }
  .header_p {
    margin-bottom: 24px;
    width: 344px;
    height: 96px;
  }
  .dropDown {
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(121deg, #2863a8, rgba(216, 30, 64, 0.3)), #2863a8;
    border: solid 1px #979797;
    opacity: 0.97;
    height: 668px;
  }
  .dropDown_img {
    align-self: flex-end;
    background: url('../../img/cross/cross.png') no-repeat;
    height: 20px;
    width: 20px;
    margin: 30px 20px 68px;
    background-size: 100% 100%;
  }
  .dropDown_a {
    text-align: center;
    font-family: Gotham Pro, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 0 20px 48px;
  }
  .map {
    flex-direction: column;
    margin: 40px 0 32px;
  }
  .map_text {
    margin-left: 16px;
    margin-right: 16px;
  }
  .map_h2 {
    font-size: 26px;
    margin-top: 24px;
  }
  .map_p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .map_mediaImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    margin-left: 0;
  }
  .map_link {
    text-align: center;
    margin-bottom: 48px;
  }
  .map_russia {
    display: none;
  }
  .libra {
    margin: 0 16px;
  }
  .libra_block {
    display: flex;
    flex-direction: column;
    flex: 1 1 51%;
    margin: 0 0 24px;
  }
  .libra_img {
    margin-left: 0;
    margin-top: 32px;
  }
  .libra_text {
    text-align: center;
    margin: 32px 28px 36px;
  }
  .workers {
    margin-top: 56px;
    padding: 0 16px;
  }
  .workers_p {
    margin-bottom: 40px;
  }
  .workers_h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 26px;
  }
  .workers_block {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
  .workers_man {
    margin: 0 24px 40px 0;
  }
  .workers_link {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .service_headBlock {
    margin: 80px 0 16px;
    padding: 40px 16px;
  }
  .service_h2 {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .service_pt {
    max-height: 130px;
  }
  .service_block {
    flex-direction: column;
    margin: 0 0;
  }
  .service_item {
    margin: 0 0 14px;
    padding: 24px 16px;
  }
  .service_h4 {
    font-size: 18px;
  }
  .service_link {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .boxFirst {
    display: none;
  }
  .posts {
    margin: 0 0;
  }
  .posts_headBlock {
    padding: 24px 16px;
  }
  .posts_h2 {
    font-size: 26px;
  }
  .posts_headMenu {
    padding-right: 0;
    flex: 0 0 60%;
  }
  .posts_block {
    flex-direction: column;
    margin: 16px 16px 0;
  }
  .posts_blockFirst {
    padding-right: 0;
  }
  .posts_itemF {
    padding: 24px 0 24px 16px;
    background: linear-gradient(rgba(40, 99, 168, 0.9), rgba(40, 99, 168, 0.9)), url('../../img/gavel/gavel-375.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .posts_menuF {
    white-space: nowrap;
    margin: 0 -10px;
  }
  .posts_aF {
    margin: 0 6px;
  }
  .posts_h4F {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .posts_data {
    margin-bottom: 0;
  }
  .posts_blockSecond {
    flex-direction: row;
    max-width: 100%;
  }
  .posts_itemS {
    margin: 0 0 24px;
    padding: 32px 10px 32px 24px;
  }
  .posts_menuS {
    margin: 0 -15px;
    white-space: nowrap;
  }
  .posts_aS {
    margin: 0 5px;
  }
  .posts_h4S {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .posts_link {
    margin-top: 0;
  }
  .partners {
    margin: -20px 0 80px;
  }
  .partners_headBlock {
    padding: 40px 16px 36px;
  }
  .partners_h2 {
    font-size: 26px;
  }
  .partners_block {
    justify-content: flex-start;
    padding: 24px 0;
    width: 100%;
  }
  .partners_logo {
    flex: 1 0 22%;
    margin: 0 16px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
  }
  .footer_menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 8px;
  }
  .footer_a {
    line-height: 1;
    margin-left: 0;
    margin-top: 20px;
  }
  .footer_centers {
    line-height: 1.5;
  }
}
