.libra {
  display: flex;
  justify-content: center;
  margin: 0 60px;
  flex-wrap: wrap;
  max-width: 1440px;
  min-width: 300px;
}
.libra_block {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  max-width: 640px;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  min-height: 164px;
  margin: 0 20px 40px;
}
.libra_img {
  margin-left: 32px;
  max-height: 114px;
  background: linear-gradient(110deg, rgba(40, 99, 168, 0.6), rgba(216, 30, 64, 0.6));
}
.libra_text {
  .flex-column();
  margin: 25px 48px 25px 60px;
}
.libra_h4 {
  .h4(#004f94, 1.3);
  margin-bottom: 8px;
}
.libra_p {
  max-width: 366px;
  min-height: 80px;
  .txt_16(#333333);
}