.map {
  display: flex;
  justify-content: space-between;
  margin: 48px 80px;
  min-height: 524px;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
}
.map_text {
  .flex-column();
  margin-left: 52px;
}
.map_h2 {
  .h2(#333333);
  max-width: 570px;
  margin-top: 48px;
  margin-bottom: 16px;
}
.map_p {
  max-width: 576px;
  margin-bottom: 24px;
  .txt_16(#333333);
}
.map_mediaImg {
  display: none;
}
.map_link {
  .txt_16(#333333, 1.63, 600);
  margin-bottom: 50px;
}
.map_russia {
  display: flex;
  align-items: flex-end;
  max-width: 586px;
  width: 100%;
}