@media screen and (max-width: 1000px) and (min-width: 750px) {
  .header {
    height: 550px;
    background: linear-gradient(110deg, rgba(40, 99, 168, 0.5), rgba(216, 30, 64, 0.2)), url('../../img/header/femida-768.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .header_nav {
    height: 124px;
    padding: 0 24px;
  }
  .header_imgLogo {
    width: 210px;
    height: 76px;
    background: url('../../img/logo/logo-2.png');
  }
  .header_imgMenu {
    display: block;
  }
  .header_menu {
    display: none;
  }
  .header_text {
    padding-left: 24px;
  }
  .header_h1 {
    margin-top: 76px;
    margin-bottom: 8px;
  }
  .header_p {
    margin-bottom: 24px;
  }

  .dropDown {
    .dropDown(1024px);
  }
  .dropDown_img {
    margin: 48px 28px 212px;
    .dropDown_img(33px, 33px);
  }
  .dropDown_a {
    .txt(24px);
    margin-bottom: 48px;
  }

  .map {
    flex-direction: column;
    margin: 48px 24px 32px;
  }
  .map_text {
    margin-left: 32px;
    margin-right: 40px;
  }
  .map_p {
    margin-bottom: 40px;
  }
  .map_mediaImg {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
  }
  .map_link {
    text-align: center;
    margin-bottom: 40px;
  }
  .map_russia {
    display: none;
  }

  .libra {
    margin: 0 12px;
  }
  .libra_block {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    margin: 0 12px 24px;
  }
  .libra_img {
    margin-left: 0;
    margin-top: 32px;
  }
  .libra_text {
    text-align: center;
    margin: 32px 28px 36px;
  }
  .workers {
    margin-top: 24px;
  }
  .workers_h2 {
    margin-top: 48px;
    margin-bottom: 12px;
  }
  .workers_block .workers_man {
    margin-bottom: 32px;
  }
  .workers_link {
    margin-top: 8px;
  }
  .service_headBlock {
    margin: 48px 24px 16px;
  }
  .service_pt {
    max-height: 80px;
  }
  .service_block {
    flex-direction: column;
    margin: 0 0;
  }
  .service_item {
    margin: 8px 24px;
  }
  .service_link {
    margin-top: 40px;
  }

  .boxFirst {
    top: -150px;
    right: 26px;
  }

  .posts {
    margin: 0 24px;
  }
  .posts_headMenu {
    white-space: nowrap;
    padding-right: 0;
    flex: 0 0 60%;
  }
  .posts_block {
    flex-direction: column;
    margin: 24px -24px 0;
  }
  .posts_blockFirst {
    margin: 0 24px;
    padding-right: 0;
  }
  .posts_h4F {
    margin-bottom: 10px;
  }
  .posts_blockSecond {
    flex-direction: row;
    margin: 0 12px;
    max-width: 100%;
  }
  .posts_itemS {
    flex: 1 1 35%;
    margin: 0 12px 24px;
    padding: 32px 24px;
  }
  .posts_h4S {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .posts_link {
    margin-top: 16px;
  }
  .partners {
    margin: 0 24px 56px;
  }
  .partners_block {
    padding: 32px 0;
  }
  .partners_logotypes {
    flex: 0 0 100%;
  }
  .partners_logo {
    margin: 0 20px;
    min-height: 72px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0;
  }
  .footer_imgLogo {
    padding-left: 24px;
  }
  .footer_menu {
    text-align: left;
    margin-top: 32px;
  }
  .footer_a {
    margin: 0 25px;
  }
}

@media screen and (max-width: 749px) {
  .header {
    height: 500px;
    background: linear-gradient(110deg, rgba(40, 99, 168, 0.5), rgba(216, 30, 64, 0.2)), url('../../img/header/femida-375.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .header_nav {
    height: 84px;
    padding: 0 16px;
  }
  .header_imgLogo {
    width: 140px;
    height: 52px;
    background: url('../../img/logo/logo-2.png');
    background-size: 100% 100%;
  }
  .header_imgMenu {
    display: block;
  }
  .header_menu {
    display: none;
  }
  .header_text {
    padding-left: 16px;
  }
  .header_h1 {
    font-size: 35px;
    width: 320px;
    height: 82px;
    line-height: 1.14;
    margin-top: 104px;
    margin-bottom: 8px;
  }
  .header_p {
    margin-bottom: 24px;
    width: 344px;
    height: 96px;
  }

  .dropDown {
    .dropDown(668px);
  }
  .dropDown_img {
    .dropDown_img (20px, 20px);
    margin: 30px 20px 68px;
    background-size: 100% 100%;
  }
  .dropDown_a {
    text-align: center;
    .txt(16px);
    margin: 0 20px 48px;
  }

  .map {
    flex-direction: column;
    margin: 40px 0 32px;
  }
  .map_text {
    margin-left: 16px;
    margin-right: 16px;
  }
  .map_h2 {
    font-size: 26px;
    margin-top: 24px;
  }
  .map_p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .map_mediaImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    margin-left: 0;
  }
  .map_link {
    text-align: center;
    margin-bottom: 48px;
  }
  .map_russia {
        display: none;
  }

  .libra {
    margin: 0 16px;
  }
  .libra_block {
    display: flex;
    flex-direction: column;
    flex: 1 1 51%;
    margin: 0 0 24px;
  }
  .libra_img {
    margin-left: 0;
    margin-top: 32px;
  }
  .libra_text {
    text-align: center;
    margin: 32px 28px 36px;
  }

  .workers {
    margin-top: 56px;
    padding: 0 16px;
  }
  .workers_p {
    margin-bottom: 40px;
  }
  .workers_h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 26px;
  }
  .workers_block {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
  .workers_man {
    margin: 0 24px 40px 0;
  }
  .workers_link {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .service_headBlock {
    margin: 80px 0 16px;
    padding: 40px 16px;
  }
  .service_h2 {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .service_pt {
    max-height: 130px;
  }
  .service_block {
    flex-direction: column;
    margin: 0 0;
  }
  .service_item {
    margin: 0 0 14px;
    padding: 24px 16px;
  }
  .service_h4 {
    font-size: 18px;
  }
  .service_link {
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .boxFirst {
    display: none;
  }

  .posts {
    margin: 0 0;
  }
  .posts_headBlock {
    padding: 24px 16px;
  }
  .posts_h2 {
    font-size: 26px;
  }
  .posts_headMenu {
    padding-right: 0;
    flex: 0 0 60%;
  }
  .posts_block {
    flex-direction: column;
    margin: 16px 16px 0;
  }
  .posts_blockFirst {
    padding-right: 0;
  }
  .posts_itemF {
    padding: 24px 0 24px 16px;
    background: linear-gradient(rgba(40, 99, 168, 0.9), rgba(40, 99, 168, 0.9)), url('../../img/gavel/gavel-375.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .posts_menuF {
    white-space: nowrap;
    margin: 0 -10px;
  }
  .posts_aF {
    margin: 0 6px;
  }
  .posts_h4F {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .posts_data {
    margin-bottom: 0;
  }
  .posts_blockSecond {
    flex-direction: row;
    max-width: 100%;
  }
  .posts_itemS {
    margin: 0 0 24px;
    padding: 32px 10px 32px 24px;
  }
  .posts_menuS {
    margin: 0 -15px;
    white-space: nowrap;  }
  .posts_aS {
    margin: 0 5px;
  }
  .posts_h4S {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .posts_link {
    margin-top: 0;
  }

  .partners {
    margin: -20px 0 80px;
  }
  .partners_headBlock {
    padding: 40px 16px 36px;
  }
  .partners_h2 {
    font-size: 26px;
  }
  .partners_block {
    justify-content: flex-start;
    padding: 24px 0;
    width: 100%;
  }
  .partners_logo {
    flex: 1 0 22%;
    margin: 0 16px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
  }
  .footer_menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 8px;
  }
  .footer_a {
    line-height: 1;
    margin-left: 0;
    margin-top: 20px;
  }
  .footer_centers {
    line-height: 1.5;
  }
}