.partners {
  .flex-column();
  align-items: center;
  margin: 0 80px 80px;
}
.partners_headBlock {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 32px;
  margin-bottom: 16px;
}
.partners_h2 {
  .h2(#333333);
}
.partners_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 40px 36px;
}
.partners_left {
  flex: 0 1 4%;
  justify-content: flex-start;
  width: 100%;
}
.partners_logotypes {
  display: flex;
  flex: 0 0 90%;
  max-height: 152px;
}
.partners_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  width: 100%;
}
.partners_logoImg {
  width: 100%;
  margin: 0 0;
}
.partners_right {
  flex: 0 1 4%;
  justify-content: flex-end;
  width: 100%;
}