.posts {
  .flex-column();
  align-items: center;
  margin: -20px 80px 0;
}
.posts_headBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 32px;
}
.posts_h2 {
  .h2(#333333);
}
.posts_headMenu {
  flex: 0 0 80%;
  text-align: right;
  padding-right: 30px;
}
.posts_a {
  white-space: nowrap;
  margin-left: 30px;
  .txt_16(#333333);
  text-decoration: none;
}
.posts_centers {
  font-weight: bold;
}
.posts_block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.posts_blockFirst {
  .flex-column();
  flex: 1 1 55%;
  padding-right: 24px;
}
.posts_itemF {
  .flex-column();
  background: linear-gradient(rgba(40, 99, 168, 0.9), rgba(40, 99, 168, 0.9)), url('../../img/gavel/gavel.jpg') no-repeat;
  padding: 24px;
  margin-bottom: 24px;
  background-size: 100% 100%;
  color: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
}
.posts_aF {
  margin-right: 18px;
  text-decoration: none;
  .txt_14(normal, 1px, 0.8);
}
.posts_h4F {
  .h4(white, 1.4);
  margin-top: 20px;
  margin-bottom: 16px;
}
.posts_data {
  font-weight: 500;
  margin-bottom: 12px;
  .txt_14(normal, 1px, 0.9);
}
.posts_pF {
  max-height: 50px;
  overflow: hidden;
  .txt_14(1.86);
}
.posts_itemLink {
  margin-top: 24px;
  .button(white);
}
.posts_blockSecond {
  .flex-column();
  flex: 1 1 40%;
  flex-wrap: wrap;
  max-width: 468px;
}
.posts_itemS {
  .flex-column();
  padding: 20px 24px;
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
}
.posts_aS {
  margin-right: 16px;
  text-decoration: none;
  .txt_12();
}
.posts_h4S {
  margin-top: 13px;
  margin-bottom: 7px;
  .h4_18();
}
.posts_pS {
  .txt_16(#333333);
}
.posts_link {
  margin-top: 48px;
  .button(#07457a);
}