.service {
  .flex-column();
  align-items: center;
}
.service_headBlock {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  padding: 32px;
  margin: 48px 80px 8px;
}
.service_h2 {
  .h2(#333333);
  margin-bottom: 12px;
}
.service_pt {
  .txt_16(#333333);
  max-height: 48px;
  overflow: hidden;
}
.service_block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
}
.service_item {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  background: white;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  margin: 16px 20px;
  padding: 24px 24px;
}
.service_h4 {
  .h4(#004f94, 1.3);
  margin-bottom: 8px;
}
.service_p {
  .txt_16(#333333);
}
.service_link {
  margin-top: 24px;
  .button(#07457a);
}