.workers {
  .flex-column();
  align-items: center;
  margin-top: 16px;
  background: linear-gradient(103deg, rgba(40, 99, 168, 0.6), rgba(216, 30, 64, 0.3)), url('../../img/emblemOfRussia/emblemOfRussia.png') repeat;
}
.workers_h2 {
  margin-top: 64px;
  margin-bottom: 16px;
  .h2(white);
}
.workers_p {
  .txt_16(white);
  max-width: 588px;
  text-align: center;
  margin-bottom: 32px;
}
.workers_block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.workers_man {
  .flex-column();
  max-width: 252px;
  margin: 0 16px 48px;
  background-color: white;
}
.worker_h4 {
  .txt_16(#000000, 1.31, bold, GothamPro-Bold);
  margin: 16px 16px 8px;
}
.worker_p {
  margin: 0 16px 26px;
  .txt_13();
}
.workers_link {
  .txt_20();
  margin-bottom: 48px;
  text-decoration: none;
  border-bottom: white solid 1px;
}