@font-face{
        font-family: 'Rouble';
        src:  url('rouble-webfont.eot?#iefix') format('embedded-opentype'),
              url('rouble-webfont.woff') format('woff'),
              url('rouble-webfont.ttf') format('truetype'),
              url('rouble-webfont.svg#svgFontName') format('svg');
        font-weight: normal;
        font-style: normal;
}
