*
{
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  max-width: 1440px;
}
.header {
  .flex-column();
  background: linear-gradient(110deg, rgba(40, 99, 168, 0.5), rgba(216, 30, 64, 0.2)), url('../../img/header/femida-1440.jpg') no-repeat;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  height: 640px;
  background-size: 100% 100%;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 12px 30px -17px rgba(0, 0, 0, 0.2);
  height: 116px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 80px;
}
.header_imgLogo {
  width: 210px;
  height: 76px;
  background: url('../../img/logo/logo-1.png');
}
.header_imgMenu {
  display: none;
}
.header_menu {
  list-style: none;
  text-align: right;
  flex: 0 0 60%;
}
.header_a {
  white-space: nowrap;
  .txt_16(rgba(250, 250, 250, 0.7), 30px, bold, GothamPro-Bold);
  margin-left: 50px;
  text-decoration: none;
}
.header_centers {
  border-bottom: white solid 1px;
  color: white;
}
.header_text {
  text-align: left;
  padding-left: 108px;
}
.header_h1 {
  .h1_white();
  width: 456px;
  margin-top: 112px;
  margin-bottom: 16px;
}
.header_p {
  .txt_14(1.71);
  width: 400px;
  height: 72px;
  margin-bottom: 48px;
}
.header_link {
  .button(white, 56px);
}

.dropDown {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
  background-color: #262626;
  padding: 0 80px;
}
.footer_imgLogo {
  height: 78px;
}
.footer_menu {
  flex: 0 0 60%;
  text-align: right;
}
.footer_a {
  white-space: nowrap;
  .txt_16(white, 30px, bold, GothamPro-Bold);
  margin-left: 50px;
  text-decoration: none;
}
.footer_centers {
  white-space: normal;
}