.h1_white() {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  color: white;
}

.h2(@color) {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.14;
  color: @color;
}

.h4(@color, @line-height) {
  font-family: GothamPro-Bold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: @color;
  line-height: @line-height;
  text-transform: uppercase;
}

.h4_18() {
  font-size: 18px;
  font-weight: bold;
  color: #1d212c;
  font-family: GothamPro-Bold, sans-serif;
  line-height: 1.44;
}

.txt_20() {
  color: white;
  font-family: Gotham Pro, sans-serif;
  font-size: 20px;
}

.txt_16(@color, @line-height: 1.63, @font-weight: normal, @font-family: Gotham Pro) {
  font-family: @font-family, sans-serif;
  font-size: 16px;
  line-height: @line-height;
  color: @color;
  font-weight: @font-weight;
}

.txt_14(@line-height: normal, @letter-spacing: normal, @opacity: 1) {
  font-family: Gotham Pro, sans-serif;
  font-size: 14px;
  color: white;
  line-height: @line-height;
  opacity: @opacity;
  letter-spacing: @letter-spacing;
}

.txt_13() {
  font-family: Gotham Pro, sans-serif;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  line-height: 1.15;
  color: #000000;
}

.txt_12() {
  font-family: Gotham Pro, sans-serif;
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 0.9px;
  color: #666666;
}

.txt(@font-size) {
  font-family: Gotham Pro, sans-serif;
  font-size: @font-size;
  font-weight: bold;
  text-decoration: none;
  color: white;
}