.button(@color, @height: 50px) {
  width: 224px;
  height: @height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: @color solid 1px;
  color: @color;
}

.flex-column() {
  display: flex;
  flex-direction: column;
}

.dropDown(@height) {
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(121deg, #2863a8, rgba(216, 30, 64, 0.3)), #2863a8;
  border: solid 1px #979797;
  opacity: 0.97;
  height: @height;
}

.dropDown_img (@height, @weight){
  align-self: flex-end;
  background: url('../../img/cross/cross.png') no-repeat;
  height: @height;
  width: @weight;
}

.box() {
  width: 100px;
  height: 100px;
  background: linear-gradient(114deg, #2863a8, rgba(216, 30, 64, 0.5)), #2863a8;
  position: relative;
  z-index: -1;
}
